################################################################################
#
#   Files for git to ignore
#
################################################################################

# Python compiled libraries
*.pyc
*.so
*.pyd

# Static libraries
*.a

# Temporary build files
build/*

# Compiled documentation
documentation/build/*
